/* General */
:root {
	--blue: #2f22de;
	--blue-dark: #271cba;
}
body {
	font-family: 'Roboto', sans-serif;
	overflow-x: hidden;
}
h1, h2, h3, h4, h5, h6 {
	font-family: 'Oswald', sans-serif;
}
section {
	padding-top: 5rem;
	padding-bottom: 5rem;
}
.section-heading {
	position: relative;
	display: inline-block;
	margin-bottom: 3rem;
}
.section-heading:after {
	position: absolute;
	content: "";
	display: block;
	width: 2000px;
	height: 5px;
	background-color: var(--yellow);
	bottom: 0;
	right: -10px;
	z-index: -1;
}
/* End General */

/* Navbar */
.navbar {
	background-color: rgba(255,255,255,0.2);
	background-color: rgba(255,255,255);
/*	background-color: transparent;*/
	font-family: 'Oswald', sans-serif;
}
.navbar .navbar-brand {
/*	color: #fff;*/
}
.navbar .navbar-brand small {
	display: block;
	text-transform: uppercase;
	opacity: 0.5;
	letter-spacing: 1px;
}
.navbar .nav-link {
	text-transform: uppercase; 
}
.navbar .navbar-text {
	background-image: url(../img/phone.png);
	background-repeat: no-repeat;
	background-size: 18px;
	background-position: top 0.5rem left;
	padding-left: 25px;
}
/* End Navbar */

/* Header */
header {
	background:
		url(../img/cardan.png),
		linear-gradient(to right, var(--gray) 50%, var(--yellow) 50%);
	background-position: center top 30vh, top;
	background-repeat: no-repeat;
	background-size: 70%, 100%;
	min-height: 100vh;
}
header .main-screen-content {
	margin-top: 10vh;
}
header h1 {
	color: #fff;
}
header small {
	display: block;
	font-weight: 300;
}
header h1 span {
	display: block;
	text-transform: uppercase;
	letter-spacing: 1px;
	font-weight: 700;
	font-size: 130%;
	color: var(--yellow);
}
header .btn {
	background-color: var(--blue);
	color: #fff;
	margin-top: 25vh;
	border-radius: 0;
}
header .btn:hover {
	background-color: var(--blue-dark);
	color: #fff;
}
header .header-benefit {
	padding-top: 40px;
	padding-bottom: 20px;
	background-position: top center;
	background-repeat: no-repeat;
	background-size: 30px;
	opacity: 0.8;
	font-size: 0.9rem;
}
header .header-benefit-1 {
	background-image: url(../img/new.png);
}
header .header-benefit-2 {
	background-image: url(../img/technology.png);
}
header .header-benefit-3 {
	background-image: url(../img/machine.png);
}
header .header-benefit-4 {
	background-image: url(../img/guarantee.png);
}
/* End Header */

/* Media Header */
@media (min-width: 992px) and (max-width: 1199px) {
	header {
		background-position: center top 35vh, top;
	}
}
@media (min-width: 768px) and (max-width: 991px) {
	header {
		background-position: center top 45vh, top;
		background-size: 55%, 100%;
	}	
}
@media (min-width: 768px) and (max-width: 991px) and (max-height: 530px) {
	header {
		background-position: center top 50vh, top;
	}
	header .btn {
		margin-top: 20vh;
	}
	header .header-benefit {
		font-size: 0.8rem;
		background-size: 20px;
		padding-top: 25px;
		padding-bottom: 10px;
	}
}
@media (min-width: 768px) and (max-width: 991px) and (max-height: 430px) {
	header {
		background-position: center top 55vh, top;
	}
}
@media (min-width: 576px) and (max-width: 767px) {
	header {
		background-position: center top 270px, top;
	}
	header .main-screen-content {
		margin-top: 5vh;
	}
	header .btn {
		margin-top: 15vh;
	}
	header .header-benefit {
		padding-top: 35px;
		padding-bottom: 15px;
		background-size: 30px;
		font-size: 0.8rem;
	}
}
@media (min-width: 576px) and (max-width: 767px) and (max-height: 640px) {
	header {
		background-position: center top 45vh, top;
	}
}
@media (min-width: 576px) and (max-width: 767px) and (max-height: 550px) {
	header {
		background-position: center top 50vh, top;
	}
}
@media (min-width: 576px) and (max-width: 767px) and (max-height: 490px) {
	header {
		background-position: center top 55vh, top;
	}
}
@media (min-width: 576px) and (max-width: 767px) and (max-height: 440px) {
	header {
		background-position: center top 55vh, top;
		background-size: 60%, 100%;
	}
}
@media (min-width: 576px) and (max-width: 767px) and (max-height: 400px) {
	header {
		background-position: center top 55vh, top;
		background-size: 55%, 100%;
	}
	header h1 {
		font-size: 2rem;
	}
	header .header-benefit {
		font-size: 0.7rem;
	}
}
@media (min-width: 576px) and (max-width: 767px) and (max-height: 370px) {
	header {
		background-position: center top 55vh, top;
		background-size: 50%, 100%;
	}
	header .main-screen-content {
		margin-top: 0;
	}
	header .btn {
		font-size: 0.8rem;
	}
}
@media (min-width: 576px) and (max-width: 767px) and (max-height: 350px) {
	header {
		background-position: center top 60vh, top;
		background-size: 40%, 100%;
	}
	header .btn {
		margin-top: 10vh;
	}
}
@media (min-width: 576px) and (max-width: 767px) and (max-height: 320px) {
	header {
		background-position: center top 50vh, top;
	}
	header .header-benefits-wrapper .col-6:nth-child(3),
	header .header-benefits-wrapper .col-6:nth-child(4) {
		margin-left: 50%;
	}
	header .header-benefit {
		padding-top: 30px;
		padding-bottom: 10px;
		background-size: 25px;
	}
	header .btn {
		margin-top: 0;
	}
}
@media (max-width: 575px) {
	header {
		background-position: center top 210px, top;
	}
	header .main-screen-content {
		margin-top: 0;
	}
	header h1,
	header h1 span {
		color: #212529;
	}
	header .btn {
		margin-top: 10vh;
		margin-bottom: 10vh;
	}
	header .header-benefit {
		opacity: 1;
		background-size: 30px;
	}
	header .header-benefit-1 {
		background-image: url(../img/new-blue.png);
	}
	header .header-benefit-2 {
		background-image: url(../img/technology-blue.png);
	}
	header .header-benefit-3 {
		background-image: url(../img/machine-blue.png);
	}
	header .header-benefit-4 {
		background-image: url(../img/guarantee-blue.png);
	}
}
@media (max-width: 350px) {
	header {
		background-position: center top 270px, top;
	}
}
/* End Media Header */

/* Benefits */
.benefits-item {
	background-repeat: no-repeat;
	background-position: top left;
	background-size: 30px;
	padding-left: 40px;
	margin-bottom: 3rem;
}
.benefits-item-1 {
	background-image: url(../img/speed.png);
}
.benefits-item-2 {
	background-image: url(../img/laser.png);
}
.benefits-item-3 {
	background-image: url(../img/competence.png);
}
.benefits-item-4 {
	background-image: url(../img/guarantee1.png);
}
.benefits-item-5 {
	background-image: url(../img/help.png);
}
.benefits-item-6 {
	background-image: url(../img/7days.png);
}
/* End Benefits */

/* Stages */

/* End Stages */

/* Price */
.price-item {
	background-repeat: no-repeat;
	background-size: 40px;
	background-position: top center;
	padding-top: 50px;
}
.price-item-1 {
	background-image: url(../img/car.png);
}
.price-item-2 {
	background-image: url(../img/minibus.png);
}
.price-item-3 {
	background-image: url(../img/truck.png);
}
/* End Price */